@model TesteSWFast.IO.Application.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Excluir";
}
<br />
<h3>Você tem certeza que deseja excluir este produto?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCategoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCategoria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" value="Delete" class="btn btn-default">Excluir</button> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
