@model TesteSWFast.IO.Application.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Detalhes";
}
<br />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCategoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCategoria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Alterar</a> |
    <a asp-action="Index">Voltar</a>
</div>
