@using TesteSWFast.IO.Application.ViewModels
@using TesteSWFast.IO.Domain.Categories
@model IEnumerable<TesteSWFast.IO.Application.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Produtos";
}

<h2>Produtos</h2>

<p>
    <a asp-action="Create">Novo produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Alterat</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
